body {
  padding-top: 50px;
}

.base {
  padding: 40px 15px;
  text-align: center;
}

.profile-picture {
	height: 100%;
	width: 100%;
}

.text-strong {
	font-weight: bold;
}

canvas {
	position:absolute;
	left: -9999em;
}

#video {
	width: 80%;
	height: 80%;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}

.text-nobold {
	font-weight: normal;
}